<div class="container">
  <h3 mat-dialog-title>Do you want to delete selected user?</h3>
  <div mat-dialog-content>
    Username: {{user.username}}
    <p></p>
    Name: {{user.name}}
    <p></p>
    Surname: {{user.surname}}
    <p></p>
    E-mail: {{user.email}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
  </div>
</div>
