<mat-toolbar color="warn">
  <span>User management panel</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="addNewUser()">
    <mat-icon aria-label="Add user">add</mat-icon>
  </button>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="exportPdf()">
    <mat-icon>save_alt</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input #filterInput matInput (keyup)="applyFilter(filterInput.value)" placeholder="Filter users">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="userDataSource" matSort class="mat-cell">

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Registration date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.registrationDate | date: 'yyyy-MM-dd'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.role}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.enabled; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <mat-icon aria-label="Enabled" class="enabled">check</mat-icon>
        </ng-template>
        <ng-template #elseBlock>
          <mat-icon aria-label="Disabled" class="disabled">block</mat-icon>
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>

      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent"
                (click)="editUser(row.username, row.name, row.surname, row.email, row.registrationDate, row.role, row.enabled)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteUser(row.username, row.name, row.surname, row.email)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" *ngIf="userDataSource.filteredData.length === 0">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="userDataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  <footer>
    <mat-toolbar class="footer">
      <div class="container">
        <p>
          About: created by Mihaly Balogh, November 2019
        </p>
      </div>
    </mat-toolbar>
  </footer>
</div>
