<div class="container">
  <h3 mat-dialog-title>Username: {{user.username}}</h3>

  <form class="mat-dialog-content" [formGroup]="formGroup">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="username" class="form-control" placeholder="Username" name="username">
        <mat-error *ngIf="formGroup.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="name" class="form-control" placeholder="Name" name="name">
        <mat-error *ngIf="formGroup.get('name').invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="surname" class="form-control" placeholder="Surname" name="surname">
        <mat-error *ngIf="formGroup.get('surname').invalid">{{getErrorMessage('surname')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="email" placeholder="Email" name="email">
        <mat-error *ngIf="formGroup.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Select role" formControlName="role">
          <mat-option *ngFor="let role of keys(roles)" [value]="roles[role]">{{roles[role]}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('role').invalid">{{getErrorMessage('role')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-checkbox formControlName="enabled" name="enabled" color="accent">
        Enabled
      </mat-checkbox>
    </div>

    <div mat-dialog-actions>
      <button mat-button [disabled]="!formGroup.valid || !formGroup.dirty" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
